// ## Colors
// ### Primary

$ModerateViolet: hsl(263, 55%, 52%);
$ModerateVioletBis: hsl(263, 55%, 70%);
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$VeryDarkBlackishBlue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);

// ### Neutral

$LightGray: hsl(0, 0%, 81%);
$LightGrayishBlue: hsl(210, 46%, 95%);

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: $LightGrayishBlue;
  color: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__grid {
  width: 85%;
  margin: auto;
  padding: 4.375rem 0;
}

.testimonials__card {
  padding: 1.875rem;
  margin-bottom: 1.435rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  &:nth-child(1) {
    background: $ModerateViolet;
    position: relative;
    .header__profil {
      border: 1px solid $ModerateVioletBis;
    }
    &::before {
      content: url(../images/bg-pattern-quotation.svg);
      position: absolute;
      right: 1.25rem;
      top: 0;
    }
    .pitch {
      position: relative;
    }
    .float {
      height: 40px;
      width: 60px;
      border: $LightGray;
      float: right;
    }
  }
  &:nth-child(2) {
    background: $VeryDarkGrayishBlue;
  }
  &:nth-child(3),
  &:nth-child(5) {
    background: $White;
    color: $VeryDarkBlackishBlue;
  }
  &:nth-child(4) {
    background: $VeryDarkBlackishBlue;
    .header__profil {
      border: 1px solid $ModerateVioletBis;
    }
  }
}

.card__header {
  display: flex;
  margin-bottom: 1.31rem;
  img {
    border-radius: 50%;
    width: 1.625rem;
    height: 1.625rem;
  }
  .header__identity {
    margin-left: 1rem;
  }
  .header__verified {
    opacity: 50%;
  }
}

.pitch {
  font-size: 1.2rem;
  margin-bottom: 1.31rem;
  font-weight: 600;
}
.developpement {
  opacity: 70%;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
  }
  .testimonials__card {
    margin-bottom: 0;
  }
  .testimonials__grid {
    width: 68.75rem;
    display: grid;
    grid-gap: 1.25rem 1.87rem;
    grid-template-areas:
      "one one two five"
      "three four four five";
    grid-template-rows: 17.5rem 16.25rem;
    > :nth-child(1) {
      grid-area: one;
      width: 33.62rem;
      .float {
        display: none;
      }
      &::before {
        right: 4.68rem;
        top: 0;
      }
    }
    > :nth-child(2) {
      grid-area: two;
      width: 15.625rem;
    }
    > :nth-child(3) {
      grid-area: three;
      width: 15.625rem;
      padding-right: 2.2rem;
    }
    > :nth-child(4) {
      grid-area: four;
    }
    > :nth-child(5) {
      grid-area: five;
      width: 15rem;
    }
  }
}

//FOOTER
//Feel free to remove these styles or customise in your own stylesheet 👍
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
